.filtro {
    border-radius: 30px;
    background-color: #ffff;
    width: 20%;
    margin: 15px;
    padding: 50px 40px;
}



/* checkbox */
.form-check-input {
    border-color: #f45b82 !important;
}

/* checkbox cuando lo precionas*/
.form-check-input:checked {
    background-color: #f45b82 !important;
    border-color: #f45b82 !important;
}

/* boton del filtro*/
.aplicar-fil {
    background-color: #f45b82;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
}


.aplicar-fil:hover {
    background-color: #9a73c7;
    /* cuando pasas el cursor boton del filtro*/
}

.filtro hr {
    border-top: 3px solid #9a73c7;
    margin: 20px 0px;
    /* color separador filtro*/

}

.precios {
    display: flex;
    justify-content: space-between;

}

.form-range::-webkit-slider-thumb {
    /* boton rango de precio */
    background-color: #f45b82 !important;
}




/* contenedor de filtro y productos */
.productos-contenedor {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
}


/* contenedor de TODAS las tarjetas  */
.tarjetas-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 30px;

    flex: 1;
}


/* contenedor de cada tarjeta */
.tarjetas-contenedor .card {
    width: 13rem;
    border-radius: 18px;
    padding: 10px;
    /* color de las tarjetas de productos */
}



.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}




.card-title {
    font-size: 16px;
    margin-bottom: 5px;
    min-height: 40px;
}




/* precio */
.card-body p {
    font-size: 15px;
    margin-bottom: 10px;

}


.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}



/* boton de tarjetas de  productos*/
.card .btn {
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 20px;

    background-color: #9a73c7;
    border-color: #9a73c7;
    color: white;
    /* letra boton*/

}



.card .btn:hover {
    /* cuando pasas el cursor */
    background-color: #f45b82;
    border-color: #f45b82;
    color: white;
}

.nav-paginacion {
    background-color: white;
    width: 32%;
    display: flex;
    justify-content: center;
    margin-left: 630px;
}


.nav-paginacion .page-link {
    border-radius: 20px !important;
    border: none;
    background-color: #9a73c7;
    color: white;
    padding: 8px 30px;
}