/* contenedor de filtro y productos */
.productos-contenedor {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
}



/* sección filtro  */
.filtro {
    background-color: #ffffff;
    width: 18%;
    margin: 15px;
    padding: 45px 40px;
    border-radius: 35px;
    min-height: 700px;
}


.filtro .form-check+.form-check {
    margin-top: 20px;
}


/* checkbox */
.form-check-input {
    border-color: #f45b82 !important;
}

/* checkbox cuando lo precionas*/
.form-check-input:checked {
    background-color: #f45b82 !important;
    border-color: #f45b82 !important;
}

/* boton del filtro*/
.aplicar-fil {
    display: block;
    margin: 25px auto 0;
    background-color: #f45b82;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 35px;
    font-size: 18px;
}


.aplicar-fil:hover {
    background-color: #9a73c7;
    /* cuando pasas el cursor boton del filtro*/
}


.filtro hr {
    border: 0;
    /* color separador filtro*/
    border-top: 2px solid #e8d5f5;
    opacity: 1;
    margin: 30px 0;
}



/* sección tarjeta de productos  */


/* contenedor de TODAS las tarjetas  */
.tarjetas-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 30px;

    flex: 1;
}


/* contenedor de cada tarjeta */
.tarjetas-contenedor .card {
    width: 13rem;
    border-radius: 18px;
    padding: 10px;
    /* color de las tarjetas de productos */
}



.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}




.card-title {
    font-size: 16px;
    margin-bottom: 5px;
    min-height: 40px;
    text-align: center;
}




/* precio */
.card-body p {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;

}


.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}



/* boton de tarjetas de  productos*/
.card .btn {
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 20px;

    background-color: #9a73c7;
    border-color: #9a73c7;
    color: white;
    /* letra boton*/

}



.card .btn:hover {
    /* cuando pasas el cursor */
    background-color: #f45b82;
    border-color: #f45b82;
    color: white;
}

.nav-paginacion {
    background-color: white;
    width: 32%;
    display: flex;
    justify-content: center;
    margin-left: 630px;
}


.nav-paginacion .page-link {
    border-radius: 20px !important;
    border: none;
    background-color: #9a73c7;
    color: white;
    padding: 8px 30px;
}




/* Detalle de  productos*/



.producto-hover {
    position: relative;
}

.ventana-producto {
    display: none;

    position: absolute;
    left: 105%;
    top: -80px;

    width: 610px;
    /* tamaño ventana detalle*/
    min-height: 320px;

    background-color: white;
    /* color fondo ventana detalle*/
    border-radius: 25px;
    padding: 25px;

    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);

    z-index: 1000;

    align-items: center;
    gap: 30px;
}


/* imagen  detalle */
.ventana-producto img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}


.ventana-producto {
    align-items: center;
    gap: 20px;
}

.detalle-producto {
    text-align: left;
}


/* Titulo detalle */
.detalle-producto h3 {
    font-family: "Pacifico", cursive;
    color: #5D4037;
    font-size: 28px;
    margin-bottom: 20px;
}

/* letra contenido detalle */
.detalle-producto p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}






.producto-hover:hover .ventana-producto {
    display: flex;
}

/* Tarjetas 3 y 4 de cada fila */
.tarjetas-contenedor .card:nth-child(4n-1) .ventana-producto,
.tarjetas-contenedor .card:nth-child(4n) .ventana-producto {
    left: auto;
    right: 105%;
}